RewriteEngine On

# Redirect requests from /documents to https://docs.bastianjakobi.com
RewriteRule ^documents/(.*)$ https://docs.bastianjakobi.com/$1 [R=301,L]

# Redirect all http traffic to https
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Redirect users to index.html if a requested link doesn't exist
ErrorDocument 404 /

# Specifically set cache ttl for used file types
<IfModule mod_headers.c>
# Cache images for up to a year
<FilesMatch "\.(ico|jpg|jpeg|png|svg|webp)$">
Header set Cache-Control "public, max-age=31536000, no-transform"
</FilesMatch>
# Cache text files for up to four hours
<FilesMatch "\.(html|js|css)$">
Header set Cache-Control "public, max-age=14400, must-revalidate"
</FilesMatch>
</IfModule> 